<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if seoTitle %}
      <title>{{ seoTitle }}{% if not titleOverride %} — FHS Bell Schedule{% endif %}</title>
    {% else %}
      <title>{{ title }} — FHS Bell Schedule</title>
    {% endif %}
    {% if description %}
      <meta name="description" content="{{ description }}">
    {% endif %}
    <meta name="color-scheme" content="light dark">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="hsl(202, 22%, 90%)">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="hsl(213, 22%, 10%)">
    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/icons/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Bell Schedule">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="author" content="Zachary Crespin">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    {{ content | safe }}
    <script async src="https://analytics.zacharyc.site/tracker.js" data-ackee-server="https://analytics.zacharyc.site" data-ackee-domain-id="a6bcdbce-630a-45f0-b9a0-ea3db308595b"></script>
  </body>
</html>