@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
:root {
    --background: #FFF;
    --surface: #FFFBFE;
    --text: #1C1B1F;
    --link: #49454F;
    --shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
    --corner: 16px;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #000;
        --surface: #1C1B1F;
        --text: #E6E1E5;
        --link: #CAC4D0;
        --shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
    }
}
body {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    background-color: var(--background);
    color: var(--text);
}
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
h2 {
    font-weight: 300;
}
.schedule, .list {
    margin: 1em;
    padding: 1em 0;
    border-radius: var(--corner);
    background-color: var(--surface);
    box-shadow: var(--shadow);
}
.game, .event {
    margin: 1em;
    padding: 1em;
    background-color: var(--surface);
    box-shadow: var(--shadow);
    border-radius: var(--corner);
    text-align: left;
}
table {
    max-width: max-content;
    margin: 0 auto;
}
table td {
    padding: .25em 1em;
}
ul {
    text-align: left;
    width: max-content;
    margin: auto;
}
ul li {
    margin: 1em;
}
a {
    color: var(--text);
}
a:hover {
    color: var(--link);
}
#back {
    position: absolute;
    top: .5rem;
    left: .5rem;
}
code {
    background-color: var(--surface);
    box-shadow: var(--shadow);
}