* {
    margin: .1em;
    padding: .1em;
}
body {
    background-color: #14191F;
    color: #E0E7EB;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
header h1{
    text-align: center;
}
main {
    margin: 0 3rem;
}
a {
    color: hsl(202, 22%, 90%);
}
a:hover {
    color: hsl(202, 22%, 75%);
}
.box {
    margin: 1rem;
    padding: 1rem 2rem;
    border: 1px solid #E0E7EB;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #E0E7EB;
    color: #E0E7EB;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 6px;
    transition: all ease .2s;
}
.btn:hover {
    background-color: #E0E7EB;
    color: #14191F;
}
ul {
    line-height: 200%;
}
table {
    line-height: 200%;
}
#back {
    position: fixed;
    top: .5em;
    left: .5em;
    padding: .5em;
    border-radius: 6px;
    background-color: #14191F;
    border: 1px solid #E0E7EB;
    transition: all ease .2s;

}
#back svg path {
    fill: #E0E7EB;
    transition: all ease .2s;
}
#back:hover {
    cursor: pointer;
    background-color: #E0E7EB;
}
#back:hover svg path {
    fill: #14191F;
}
@media only screen and (max-width: 544px) {
    main {
        margin: 0;
    }
}