---
title: Upcoming Events
description: Foothill High School Upcoming Events
layout: main.webc
---
{% if (events.upcoming.length < 1) %}
<p>No Upcoming Events</p>
{% endif %}
{% for value in events.upcoming %}
  <div class="box text-left">
    <p><b>Date:</b> {{ value["date"] }}</p>
    <p><b>Event:</b> {{ value["event"] }}</p>
  </div>
{% endfor %}