---
title: FHS Upcoming Games
description: Foothill High School Upcoming Games
layout: main.njk
---
{% if (games.upcoming.length < 1) %}
<p>No Upcoming Games</p>
{% endif %}
{% for value in games.upcoming %}
  <div class="box text-left">
    <p>
      {{ value["date"] }}{% if value["time_from"] %}<br>
      {{ value["time_from"] }}{% if value["time_to"] %} - {{ value["time_to"] }}{% endif %}{% endif %}<br>
      {{ value["sport"] }} {% if value["opponent_schools"] != "TBA" %} vs {{ value["opponent_schools"] }}{% endif %}<br>
      {% if value["event_title"] %}{{ value["event_title"] }}<br>{% endif %}
      <b>Level: </b>{{ value["level"] }}<br>
      <b>Game Type: </b>{{ value["game_type"] }}<br>
      {% if value["location"] or value["facility"] %}<b>Location: </b>{% endif %}
      {% if value["location"] %}{{ value["location"] }}{% endif %}{% if value["facility"] %}{% if value["location"] %}, {% endif %}{{ value["facility"] }}{% endif %}
    </p>
  </div>
{% endfor %}