:root {
  /* Colors */
  --background: hsl(202 22% 90%);
  --foreground: hsl(213 22% 10%);
  --secondary: hsl(213 22% 30%); /* light text */
  --tertiary: hsl(213 22% 70%); /* dividers */

  /* Typography */
  --font: "Inter", sans-serif;
  --font-italic: "Georgia", serif;
  --font-mono: "Consolas", 'Courier New', monospace;

  /* Borders */
  --radius: 6px;
  --stroke-width: 1px;
  --border: var(--stroke-width) solid var(--foreground);

  /* Page */
  --max-width: 65ch;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(213 22% 10%);
    --foreground: hsl(202 22% 90%);
    --secondary: hsl(213 22% 70%);
    --tertiary: hsl(213 22% 30%);
  }
}

@supports (font-variation-settings: normal) {
  :root { --font: "Inter var", sans-serif; }
}

html {font-size: 100%;} /* 16px */

body {
  margin: 2rem 1rem;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: var(--max-width);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.3;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p {
  margin: .25em 0;
}

h1, .h1 {
  font-size: 2.488rem;
  font-weight: 900;
}

h2, .h2 {
  font-size: 2.074rem;
  font-weight: 800;
}

h3, .h3 {
  font-size: 1.728rem;
  font-weight: 700;
}

h4, .h4 {
  font-size: 1.44rem;
  font-weight: 600;
}

h5, .h5 {
  font-size: 1.2rem;
  font-weight: 500;
}

small {font-size: 0.833rem;}

a {
  background-color: transparent;
  color: var(--foreground);
}
a:hover, a:focus-visible {
  color: var(--secondary);
  cursor: pointer;
}

button, input, select, textarea {
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
}

.btn, button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--foreground);
  color: var(--foreground);
  text-decoration: none;
  margin: 1em;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  transition: all ease .2s;
}
button .filed,
.btn .filed {
  background-color: var(--foreground);
  color: var(--background);
}
.btn:hover, button:hover {
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
  transform: scale(1.05);
}

input:not([type="radio"], [type="checkbox"], [type="file"]), textarea, select {
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  background-color: var(--background);
  color: var(--foreground);
}

table {
  margin: 1rem auto;
  border-spacing: 0;
  padding: 0.5rem 1rem;
}
td {
  padding: 0;
  border-bottom: var(--stroke-width) solid var(--tertiary);
}
tr:last-child td {
  border-bottom: none;
}
table tr td:first-of-type {
  text-align: left;
  padding: 0 0.5rem;
}
table tr td:last-of-type {
  text-align: right;
  padding: 0 0.5rem;
}

.box {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  max-width: var(--max-width);
}
.box .box {
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--tertiary);
}
.box .box p {
  margin: 0.5rem 0;
}
.box .box:last-of-type {
  border-bottom: none;
}

.light {
  color: var(--secondary);
  font-size: 80%;
}

.text-left {
  text-align: left;
}

@media screen and (width < 544px) {
  body {
    margin: 0 0.5rem;
  }
}