:root {
  --background: hsl(202 22% 90%);
  --foreground: hsl(213 22% 10%);
  --secondary: hsl(213 22% 30%); /* light text */
  --tertiary: hsl(213 22% 70%); /* dividers */
  --radius: 6px;
  --max-width: 65ch;
  --font: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(213 22% 10%);
    --foreground: hsl(202 22% 90%);
    --secondary: hsl(213 22% 70%);
    --tertiary: hsl(213 22% 30%);
  }
}

.theme-light {
  --background: hsl(202 22% 90%);
  --foreground: hsl(213 22% 10%);
  --secondary: hsl(213 22% 30%);
  --tertiary: hsl(213 22% 70%);
}

.theme-dark {
  --background: hsl(213 22% 10%);
  --foreground: hsl(202 22% 90%);
  --secondary: hsl(213 22% 70%);
  --tertiary: hsl(213 22% 30%);
}

html {font-size: 100%;} /* 16px */

body {
  margin: 0 1rem;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.75;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font);
  font-weight: 400;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, p {
  margin: .25em 0;
}

h1 {font-size: 2.488rem;}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small {font-size: 0.833rem;}

a {
  background-color: transparent;
  color: var(--foreground);
}
a:hover, a:focus-visible {
  color: var(--secondary);
  cursor: pointer;
}

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--tertiary);
}

.btn, button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--foreground);
  color: var(--foreground);
  text-decoration: none;
  margin: 1em;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  transition: all ease .2s;
}
button .filed,
.btn .filed {
  background-color: var(--foreground);
  color: var(--background);
}
.btn:hover, button:hover {
  background-color: var(--foreground);
  color: var(--background);
  cursor: pointer;
  transform: scale(1.05);
}

.box {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  max-width: var(--max-width);
}
.box .box {
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--tertiary);
}
.box .box p {
  margin: 0.5rem 0;
}
.box .box:last-of-type {
  border-bottom: none;
}

.light {
  color: var(--secondary);
  font-size: 80%;
}

table {
  line-height: 200%;
  text-align: left;
  margin: 1rem auto;
  border-spacing: 0;
}
td p {
  margin: 0;
  padding: 0;
}
tr td {
  border-bottom: 1px solid var(--tertiary);
}
tr:last-child td {
  border-bottom: none;
}
td:nth-child(1) {
  padding: 0 1em 0 .25em;
}
td:nth-child(2) {
  text-align: right;
  padding: 0 .25em 0 1em;
}

.text-left {
  text-align: left;
}

input:not([type="radio"], [type="checkbox"], [type="file"]), textarea, select {
  padding: 0.5rem;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  background-color: var(--background);
  color: var(--foreground);
}

input[type="checkbox"] {
  appearance: none;
  height: 2rem;
  width: 3.5rem;
  background-color: var(--background);
  position: relative;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: '';
  display: block;
  height: 1.9em;
  width: 1.9em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: calc(1.9em/2 + .3em);
  background-color: var(--background);
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
  transition: .2s ease;
}

input[type="checkbox"]:checked::before {
  background-color: var(--foreground);
  left: calc(100% - (1.9em/2 + .3em));
}

input[type="checkbox"]:disabled {
  opacity: 0.7;
}

@media screen and (width < 544px) {
  body {
    margin: 0 0.5rem;
  }
}