---
seoTitle: 404 - Page Not Found
titleOverride: true
title: 404
description: Page Not Found
layout: layouts/main.njk
permalink: 404.html
---
<h2>Page Not Found</h2>
<a href="https://fhsbellschedule.web.app/" class="btn">Back Home</a>