---
title: API
layout: main.njk
---
<p>Today: <a href="/api/today.json"><code>/api/today.json</code></a></p>
<p>Upcoming: <a href="/api/upcoming.json"><code>/api/upcoming.json</code></a></p>
<p>Upcoming Events: <a href="/api/upcoming/events.json"><code>/api/upcoming/events.json</code></a></p>
<p>Upcoming Games: <a href="/api/upcoming/games.json"><code>/api/upcoming/games.json</code></a></p>
