<!DOCTYPE html>
<html lang="en-US" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FHS Bell Schedule</title>
    <meta name="description" content="Foothill High School Bell Schedule">
    <link rel="icon" href="favicon.svg">
    <link rel="stylesheet" href="style.css">
    <meta name="color-scheme" content="dark">
    <link rel="manifest" href="app.webmanifest">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Schedule">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <header>
        <h1>FHS Bell Schedule</h1>
        <h3 style="text-align: center;">{{ today }}</h3>
    </header>
    <main>
        <div class="box">
            <h2>{{ scheduleName }}</h2>
            {{ scheduleHTML }}
        </div>
        <div class="box">
            <div class="box-header">
                <h2>
                    Today's Games
                    <!-- <span class="counter">{{ gamesToday }}</span> -->
                </h2>
                <a href="games.html" class="btn">View Upcoming Games</a>
            </div>
            <ul>
                {% for value in games %}
                <li>
                    <p><b>Time:</b> {{ value["Time"] }}</p>
                    <p><b>Sport:</b> {{ value["Sport"] }}</p>
                    <p><b>Opponent:</b> {{ value["Opponent"] }}</p>
                    <p><b>Level:</b> {{ value["Level"] }}</p>
                    <p><b>Game Type:</b> {{ value["GameType"] }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="box">
            <div class="box-header">
                <h2>
                    Today's Events
                    <!-- <span class="counter">{{ eventsToday }}</span> -->
                </h2>
                <a href="events.html" class="btn">View Upcoming Events</a>
            </div>
            <ul>
                {% for value in events %}
                <li><p>{{ value["Event"] }}</p></li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>