<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FHS Bell Schedule</title>
    <meta name="description" content="Foothill High School Bell Schedule">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="style.css">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="hsl(202, 22%, 90%)">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="hsl(213, 22%, 10%)">
    <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="Schedule">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script defer src="script.js"></script>
    <script async src="https://analytics.zacharyc.site/tracker.js" data-ackee-server="https://analytics.zacharyc.site" data-ackee-domain-id="a6bcdbce-630a-45f0-b9a0-ea3db308595b"></script>
  </head>
  <body>
    <header>
      <h1>FHS Bell Schedule</h1>
      <h2>{{ today }}</h2>
    </header>
    <main>
      <p id="clock"></p>
      <div class="box">
        <h3>{{ scheduleName }}</h3>
        {{ scheduleHTML }}
      </div>
      <div class="box">
        <h3>Today's Events</h3>
        {% if not events %}
        <p>No Events Today</p>
        {% endif %}
        {% for value in events %}
        <div class="box text-left">
          <p>{{ value["event"] }}</p>
        </div>
        {% endfor %}
        <a href="events.html" class="btn">View Upcoming Events</a>
      </div>
      <div class="box">
        <h3>Today's Games</h3>
        {% if not games %}
        <p>No Games Today</p>
        {% endif %}
        {% for value in games %}
        <div class="box text-left">
          <p>
            {{ value["time_from"] }}{% if value["time_to"] %} - {{ value["time_to"] }}{% endif %}<br>
            {{ value["sport"] }} {% if value["opponent_schools"] != "TBA" %} vs {{ value["opponent_schools"] }}{% endif %}<br>
            {% if value["event_title"] %}{{ value["event_title"] }}<br>{% endif %}
            <b>Level: </b>{{ value["level"] }}<br>
            <b>Game Type: </b>{{ value["game_type"] }}<br>
            {% if value["location"] or value["facility"] %}<b>Location: </b>{% endif %}
            {% if value["location"] %}{{ value["location"] }}{% endif %}{% if value["facility"] %}{% if value["location"] %}, {% endif %}{{ value["facility"] }}{% endif %}
          </p>
        </div>
        {% endfor %}
        <a href="games.html" class="btn">View Upcoming Games</a>
      </div>
    </main>
    <footer>
      <p>Created By <a href="https://zacharyc.site" target="_blank">Zachary Crespin</a> on <a href="https://github.com/ZacharyCrespin/FHS-Bell-Schedule" target="_blank">GitHub</a>.</p>
    </footer>
  </body>
</html>