:root {
  --background: hsl(202, 22%, 90%);
  --border: hsl(213, 22%, 10%);
  --light-border: hsl(213, 22%, 80%);
  --light: hsl(213, 22%, 60%);
  --text: hsl(213, 22%, 10%);
  --link: var(--text);
  --link-hov: hsl(201, 22%, 25%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(213, 22%, 10%);
    --border: hsl(202, 22%, 90%);
    --light-border: hsl(213, 22%, 20%);
    --light: hsl(213, 22%, 40%);
    --text: hsl(202, 22%, 90%);
    --link: var(--text);
    --link-hov: hsl(201, 22%, 75%);
  }
}

body {
  text-align: center;
  background-color: var(--background);
  color: var(--text);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

main {
  margin: 0 2rem;
  min-height: calc(100vh - 8rem - 4px);
}

a {
  color: var(--link);
}
a:hover {
  color: var(--link-hov);
}

.btn, button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--border);
  color: var(--text);
  text-decoration: none;
  margin: 1em;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all ease .2s;
}
button .filed,
.btn .filed {
  background-color: var(--text);
  color: var(--background);
}
.btn:hover, button:hover {
  background-color: var(--text);
  color: var(--background);
  cursor: pointer;
  transform: scale(1.05);
}

.box {
  margin: 1rem 0;
  padding: 0 1rem;
  border: 1px solid var(--border);
  border-radius: 6px;
}
.box .box {
  margin: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid var(--light-border);
}
.box .box p {
  margin: 0.5rem 0;
}
.box .box:last-of-type {
  border-bottom: none;
}

table {
  line-height: 200%;
  text-align: left;
  margin: 1rem auto;
  border-spacing: 0;
}
td p {
  margin: 0;
  padding: 0;
}
.light {
  color: var(--light);
  font-size: small;
}
tr td {
  border-bottom: 1px solid var(--light-border);
}
tr:last-child td {
  border-bottom: none;
}
td:nth-child(1) {
  padding: 0 1em 0 1rem;
}
td:nth-child(2) {
  text-align: right;
  padding: 0 1rem 0 1em;
}

.text-left {
  text-align: left;
}

footer {
  position: relative;
  bottom: 0;
  margin-bottom: 1rem;
}
footer p {
  margin: 0.5rem 0;
}
footer .link {
  margin: 0 0.5rem 0.5rem;
}

:not(pre) code {
  background-color: var(--text);
  color: var(--background);
  border-radius: 6px;
  padding: 0.125rem 0.25rem;
}

@media only screen and (max-width: 544px) {
  main {
    margin: 0;
  }
  .box {
    padding: 1rem;
  }
}