---
permalink: "settings.css"
eleventyExcludeFromCollections: true
---
{% include "css/coloris.min.css" %}
.select, .check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select label, .check label {
  padding: 0.5rem;
}
.select input, .check input {
  padding: 0.5rem;
}