---
title: FHS Upcoming Bell Schedules
description: Foothill High School Upcoming Bell Schedules
layout: 'main.njk'
---
{% for value in upcoming %}
<div class="box">
  <h2>{{ value.day }}</h2>
  <h3>{{ value.schedule.name }}</h3>
  {{ value.schedule.html | safe }}
</div>
{% endfor %}