---
title: This Week
description: This Week's Foothill High School Bell Schedules
layout: main.webc
---
{% for day in week %}
<div class="box">
  <h2>{{ day.date.string }}</h2>
  <h3>{{ day.schedule.name }}</h3>
  {{ day.schedule.html | safe }}
  {% for event in day.events %}
  <div class="box event" class="box text-left">
    <p>{{ event }}</p>
  </div>
  {% endfor %}
  {% for game in day.games %}
  <div class="box game" class="box text-left">
    <p>{{ game }}</p>
  </div>
  {% endfor %}
</div>
{% endfor %}

<style>
  .box .box:first-of-type {
    margin-top: 2rem;
    border-top: 1px solid var(--secondary);
  }
</style>